body {
    background-image:  url("assets/topography.png");
    font-family: Courier;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
    }

h1 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    }

h2 {
    font-family: 'Noto Sans Mono', monospace;
    color: #ff0099;
    margin-left: 10%;
    margin-right: 10%;
    }

h3 {
    font-family: 'Noto Sans Mono', monospace;
    margin-left: 10%;
    margin-right: 10%;
    }

.navbar {
    line-height: 30px;
}

.center {
        text-align: center;
        }