body {
    background-image:  url("assets/topography.png");
    font-family: Courier;
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
	margin-bottom: 0px;
    }

p {
	margin-top: 0px;
	line-height: 3.5;
}

a:link {
	color: #ff0099;
}

a:visited {
	color: #ff0099;
}

a:hover {
	color: #ff0099;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    }

h2 {
    font-family: 'Noto Sans Mono', monospace;
    color: #ff0099;
    margin-left: 10%;
    margin-right: 10%;
    }

h3 {
    font-family: 'Noto Sans Mono', monospace;
    margin-left: 10%;
    margin-right: 10%;
    }

.center {
        text-align: center;
        }